.cards{
  
    display:inline-block;
    justify-content:center;
    align-content:center;
    text-align: center;
    margin-bottom: 0.8%;
    margin-left: 0.8%;
    margin-right: 0.8%;
    margin-top: 0,8%;
    max-width: 40%; 
    max-height: 40%;
    background-color: rgba(141, 146, 147, 0.792);
    box-shadow: 0px 0px 30px 2px #000;
    font-style: italic;
    padding: 5px;
    border-radius: 10%;

  }
 
  .cd{
    padding: 20px;
    width: 8cm;
    height: 13cm;
    align-content: space-around;

  }

  .cards:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: all 0.5s;
  }
  .cardimg{
    border-radius: 5px;
    max-width: 90%; 
    max-height: 90%;
  }