.dt{
    background-image: url('../assets/foto6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imga{
    height: 13cm;
    width: 18cm;
    border-radius: 18px;
    box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.55);    
}
.type{
    background-color:rgb(57, 106, 95) ;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.55);    
    font-family: italic;
    font-size: 20px;
    justify-content: center;
    display:inline-flex
}
.title{
    background-color:rgb(57, 106, 95) ;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.55);    
    font-family: italic;
}

.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: italic;
    color: #000000;
    font-size: 17px;
    background: #f7eac3;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #f2f2b1;
    background-image: -webkit-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: -moz-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: -ms-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: -o-linear-gradient(top, #f2f2b1, #f3ff99);
    background-image: linear-gradient(to bottom, #f2f2b1, #f3ff99);
    text-decoration: none;
    cursor: pointer;
  }
  