.nav {
    color: #fff;
    background-color: rgba(17, 16, 59, 0.791);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    width: 100%;
    z-index: 1;
    position: fixed;
    font-weight: bolder;
    font-size: 24px;
  }
  

  .TitleAndSearchBar {

    margin-left: 5%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-style: italic;
  }
  .aboutNavButton {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 10%;
  }
