.nav {
    color: #fff;
    background-color: rgba(13, 11, 67, 0.683);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 100%;
    z-index: 1;
    position: fixed;
    font-weight: bolder;
  }
  
  .logoAndTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 20px;
  }
  .TitleAndSearchBar {
    margin-left: 10%;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-style: italic;
  }
  .aboutNavButton {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 10%;
  }
