.searchBarObject {
 
    margin: 2px;
    font-size: 20px;
    display: flex;
    width: 650px;
    justify-content: center;
    align-items: center;
  }
  
  .input{

    border-radius:1cm;
  }
  
  button{
    background-color: rgb(73, 154, 27);

    margin: 5px;
    padding: 5px;
    border-radius: 15px;
  }